# ====================================================================
# SENSITIVE DATEN / GEHEIMNISSE (Sehr wichtig!)
# ====================================================================
secrets.yaml
*secrets*.yaml
private.yaml
.env

# ====================================================================
# PYTHON CACHE (Verhindert doppelte/unreine Commits)
# ====================================================================
**/__pycache__/
*.pyc
*.pyo
*.pyd

# ====================================================================
# ESPHOME & PLATFORMIO TEMPORÄRE BUILD-ORDNER
# ====================================================================
.esphome/
.pio/
.pioenvs/

# ====================================================================
# BETRIEBSSYSTEM & LOGS (Windows / Mac Reste)
# ====================================================================
*.log
Thumbs.db
.DS_Store
